@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  position: fixed;
  width: 0.4em;
  height: 0.5em;
}

*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
  background-color: #f1192f;
  border-radius: 1em;
}

*::-webkit-scrollbar-thumb:vertical {
  height: 1vw;
}

:root {
  --body-black: #000000;
  --body-yeloow: #f5eded;
  --body-white: #ffffff;
  --body-light: #f4f9fc;
  --body-gray: #0d0f0f;
  --body-grayLigth: #ececec;
  --body-red: #f1192f;
  --body-darkBlue: #000000;
  --text-color-black: #0b0b0b;
  --text-color-red: #f1192f;
  --text-color-beige: #f8f8f8;
  --text-color-white: #ffffff;
  --text-color-gray: rgb(57, 57, 57);
  --text-color-grayLigth: rgb(202, 202, 202);
  --text-color-blue: #053781;
  --text-color-darkSkyBlue: #26aec1;
  --text-color-skyBlue: #4ce8db;
}

body {
  margin: 0 auto;
  width: 100vw;
  height: 100%;
  min-width: 360px;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.3px;
  overflow: hidden;
}

#root {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

video {
  object-fit: cover !important;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li,
:link {
  list-style: none;
  padding-left: 0;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

input {
  outline: none;
  font-family: inherit;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}
